/* tag selectors */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* headings */
.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.big-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

#title .big-heading {
  font-weight: 900;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 5% 15% 23%;
  text-align: left;
}

#footer .container-fluid {
  padding: 4% 15%;
}

/* sections */

.white-section {
  background-color: #fff;
  color: #000;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

/* navbar */

.colored-margin {
  background-color: #ff4c68;
  padding-top: 40px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar {
  padding: 0 15% 0 15%;
  background-color: #ff4c68;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 700;
}

/* title */

.download-btn {
  margin: 5% 3% 5% 0;
}
.iphone-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}
.feature-img {
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-img:hover {
  color: #ff4c68;
}
.feature-box {
  padding: 5%;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-fade .carousel-item {
  transition-duration: 2s;
}

/* press */
#press {
  background-color: #ef8172;
}
#press {
  padding-bottom: 3%;
}

.press-img {
  width: 13%;
  margin: 20px 20px 50px;
}

/* pricing */

.pricing-col {
  padding: 3% 3%;
  transition: transform 300ms ease-in-out;
}

.pricing-col:hover {
  transform: scale(1.05);
}
/* cta */

/* footer */

.footer-icon {
  margin: 3% 1%;
  color: black;
  display: inline-block;
}
.footer-icon:hover {
  color: #ff4c68;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  #title .container-fluid {
    text-align: inherit;
  }
  .iphone-img {
    position: static;
    margin: 3rem 0 1rem;
  }
}

@media (max-width: 499px) {
  .testimonial-text {
    font-size: 1.5rem;
  }

  .section-heading {
    font-size: 2.5rem;
  }
}
